<div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-6 col-md-offset-3">
       <h1 class="title">24K Job </h1>
       <p class="slogan">24K Job 是专为程序员打造的高薪求职网站
         <br>
         让程序员找到适合的发挥平台
         <br>
         凭借自己的努力和天份成为——人生赢家！
       </p>
       <p class="lead">
         <%= link_to '马上应聘', jobs_path, class: 'btn btn-danger btn-lg' %>
       </p>
     </div>
   </div>
 </div>

 <div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">程序员工作中</h2>
        <p class="lead">对着Mac敲代码——是我们日常工作的样子</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">活力四射的程序员</h2>
        <p class="lead">我们也是富有激情活力的年轻人！</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">工作之余</h2><h3>一杯咖啡配电影</h3>
        <p class="lead">程序员也是有生活情趣的一群人</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>
