<div class="container-fluid">
    <div class="col-md-8 col-centered">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3>编辑工作</h3>
          </div>
          <div class="panel-body">
            <%= render "form" %>
          </div>
        </div>
    </div>
</div>
